@import url("https://fonts.googleapis.com/css?family=Roboto|Raleway");

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
  display: none;
}

body {
  margin: 0 !important;
  color: #000000 !important;
  font-family: "Raleway", sans-serif;
  background-color: #f9f9f9 !important;
  overflow-y: hidden;
}

#top-bar {
  background-color: #028073;
  height: 5px;
}

#left-side-column {
  height: calc(100vh);
  width: 33%;
  color: #000000;
  background-color: #e0f1f0;
  align-items: left;
  padding: 10px 1.5% 10px 1.5%;
}

#right-side-column {
  height: calc(100vh - 5px);
  overflow-y: scroll;
  margin-left: 1%;
  padding: 1rem 2rem;
}

.dash-spreadsheet-container table {
  --accent: #028073 !important;
  --selected-background: #028073 !important;
  --selected-color: #028073 !important;
}

H4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.modal {
  display: block; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.markdown-container {
  width: 60vw;
  margin: 10% auto;
  padding: 10px 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.close-container {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.markdown-text {
  padding: 0px 10px;
}

.closeButton {
  padding: 0 15px;
  font-weight: normal;
  float: right;
  font-size: 1.2rem;
  border: none;
  background-color: #f9f9f9;
  height: 100%;
}

.closeButton:hover {
  color: #028073 !important;
}

#header-section {
  width: 88%;
  margin-top: 2%;
}

.button:focus {
  color: #ffffff;
  border-color: #bbb;
}

#learn-more-button {
  color: #028073;
}

.control-section {
  width: 30%;
  padding: 5px;
  flex-shrink: 0;
  margin-bottom: 2%;
}

.control-element {
  width: 500%;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
}

.control-element > div:nth-child(1) {
  width: 25%;
}

#mean{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
}

#SCV{
  box-sizing: border-box;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
}

#omega{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
}

#n{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
}

#k{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
}

#u{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 90%;
}

/* #u_slide{
  width: 100%
} */

.rc-slider-track {
  background-color: #8ed1ca;
}

.rc-slider-dot-active,
.rc-slider-dot,
.rc-slider-handle {
  border-color: #009688;
}

.rc-slider-handle:hover {
  border-color: #8ed1ca;
}
